#tabel1{
    /* border: 3px red solid; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
}
#tabel1 tr td, #tabel1 tr th{
    border: 3px blue double;
    padding: 15px;
}
#tabel1 tr th{
    color: red;
    background-color: aqua;
}
#tabel1 tbody tr:nth-child(2n){
    background-color: aquamarine;
}
#tabel1 tbody tr:nth-child(2n+1){
    background-color: bisque;
}
#tabel1 tfoot tr{
    background-color: antiquewhite;
}